@font-face {
  font-family: "RobotoRegular";
  src: url("../../../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MonsterratRegular";
  src: url("../../../fonts/Montserrat-Regular.ttf") format("truetype");
}

.weatherDiv {
  margin: auto;

  height: 500px;
  width: 450px;

  border-radius: 10px;
  border-style: solid;

  border-width: 25px;
  border-color: #fafafa;

  padding: 10px;
  box-shadow: 5px 10px 8px #3da9fc;
}
.divToScroll {
  overflow: scroll;
  height: 380px;
  overflow-x: hidden;
  scroll-snap-stop: always;
}

span {
  color: #ef4565;
  font-weight: 800;
}

h2 {
  color: #094067;
  font-family: "RobotoRegular";
  font-weight: bold;
  margin-top: 15px;
}

h3 {
  color: #094067;
  font-family: "RobotoRegular";
  font-weight: bold;
}

@media (max-width: 600px) {
  .weatherDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 72vw;
    margin-left: -55vw;
    margin-top: 30vh;
  }

  #degrees {
    margin-left: unset;
  }

  .todayImg {
    margin-left: unset;
  }
}
