@font-face {
  font-family: "Digi";
  src: url("../../../fonts/DigitalNumbers-Regular.ttf") format("truetype");
}

.clockApp {
  display: flex;
  justify-content: center;
  background-color: #d8eefe;
  height: 100vh;
  width: 85vw;
  margin-left: 5.2vw;
  text-align: center;
}
.clockContainer {
  display: flex;
  justify-content: center;
  width: max-content;
  height: max-content;
  margin-top: 30vh;

  background-color: white;

  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #90b4ce;
  padding: 2px;
}

.clockTime {
  background-color: whitesmoke;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;

  border-radius: 5px;
  box-shadow: inset 0 0 10px #90b4ce;
}

/* #clockDays { */
/* display: flex;
  justify-content: space-evenly; */
/* } */

#clockP {
  font-size: 2.2vh;
  margin-top: 3vh;
  color: #90b4ce;
}

#clockPP {
  font-size: 2.3vh;
  margin-top: 3vh;
  color: #ef4565;
  font-weight: bold;
}

#clockTimeP {
  font-family: "Digi";

  font-size: 5.5vh;
}
.clockSpan {
  font-size: 2vh;
  margin-left: 1vw;
  font-family: MonsterratRegular;
}
.towrap {
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
  height: 10vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
