#topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#topNav li {
  float: left;
}

#topNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topNav li a.active {
  background-color: rgb(255, 26, 26);
}

#topNav li a:hover:not(.active) {
  background-color: #111;
}
