#App {
  text-align: center;
  /* background-color: var(--color-background); */

  /* --color-background: #fcfcfc;
  --color-containers: #ededed;
  --color-hover: #5f8894;
  --color-navbarActive: #fb3f3f;
  --color-text: #080808; */
}

.light {
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
  --color-background: #fcfcfc;
  --color-weatherDiv: grey;
  --color-containers: #070707;
  --color-hover: #5f8894;
  --color-navbarActive: #fb3f3f;
  --color-text: #080808;
}

.dark {
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
  --color-background: #242424;
  --color-weatherDiv: rgb(93, 90, 90);
  --color-containers: #818181;
  --color-hover: #5f8894;
  --color-navbarActive: #fb3f3f;
  --color-text: white;
}

.currentWeather {
  background-color: var(--color-weatherDiv);
  padding: 5px;
  border-radius: 5px;
  width: 25%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
