:root {
  --main-dark : rgb(36, 35, 35);
  --main-light : white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  background: var(--main-light);
  color: skyblue;
  height: 100vh;
}

.dark {
  background: var(--main-dark);
  color: antiquewhite;
  height: 100vh;
}


.light-btn{
  background: var(--main-light);
}

.dark-btn{
  background: var(--main-dark);
  color: antiquewhite;
}