.navBar {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  position: sticky;
  margin: auto;
  align-items: center;
  /* background-color: rgb(80, 144, 239); */
  /* background-color: #9dc1f7; */
  background: rgb(250, 250, 210);
  background: linear-gradient(
    180deg,
    rgba(250, 250, 210, 1) 0%,
    rgba(211, 232, 255, 1) 100%
  );
  height: 100px;
  box-shadow: 2px 2px 2px 0px gold;
  text-shadow: 1px 1px 2px rgb(125, 205, 231);
  border-bottom: 2.5px ridge lightcyan;
  border-radius: 0px 0px 15px 15px;
}

#sun {
  margin-right: -110px;
  width: 205px;
  height: 205px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  font-size: 20pt;
  text-shadow: 1px 2px 3px rgb(160, 160, 160);
  letter-spacing: 0.5px;
}

.link:visited {
  color: gold;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  text-shadow: 1px 2px 3px rgb(125, 205, 231);
}

li {
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  text-shadow: 1px 2px 3px rgb(125, 205, 231);
}

.link:active,
.link:hover {
  color: gold;
  font-weight: bolder;
  text-emphasis: none;
}

#navTitle {
  margin-left: -20px;
  font-size: x-large;
  color: rgb(54, 160, 196);
  font-weight: bolder;
  text-shadow: 4px 3px 3px rgb(125, 205, 231);
}
