.weatherDiv {
  margin: auto;
  background-size: cover;
  height: 100vh;
  background: rgb(243, 248, 249);
  background: linear-gradient(
    50%,
    rgba(243, 248, 249, 0.9178046218487395) 0%,
    rgba(110, 210, 240, 1) 100%
  );
}

#heading {
  font-size: 36pt;
  color: black;
  text-shadow: 2px 3px 4px rgb(125, 205, 231);
}

h3 {
  color: darkslategrey;
  font-size: 28pt;
  text-shadow: 3px 3px 3px  rgb(160, 160, 160);
}

h2 {
  text-shadow: 3px 2px 2px rgb(221, 243, 248);
}

h1 {
  color: rgb(54, 160, 196);
  font-size: 28pt;
  text-shadow: 3px 3px 2px rgb(125, 205, 231);
}

.today {
  margin: auto;
  display: flex;
  height: auto;
  width: fit-content;
  text-align: center;
}

.today > li {
  margin: 50px 15px 50px 15px;
  justify-content: space-around;
  font-weight: bold;
  flex-flow: wrap;
  width: 100px;
  font-size: small;
  text-align: center;
  justify-items: center;
  padding: 5px 10px 15px 10px;
  height: 5.5em;
  color: rgb(0, 87, 87);
  border: 2px lightgoldenrodyellow;
  border-radius: 25px 0px 25px 0px;
  /* background-color: rgba(80, 144, 239, 0.555); */
  box-shadow: 7px 5px 3px 1px rgba(255, 217, 0, 0.787);
  border-style: outset;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(139, 183, 247, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
}

li {
  text-shadow: 3px 2px 2px rgb(221, 243, 248);
}

li > p {
  text-align: center;
  text-shadow: 3px 2px 2px rgb(221, 243, 248);
  color: rgb(54, 160, 196);
  font-size: 12pt;
}
