.NavBar {
  /* display: flex;
  justify-content: space-evenly; */
  /* background-color: #2490b8; */

  /* background-color: #004643;
  height: 100px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  width: 84%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 5px 10px 8px #383838;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; */

  /* border: #3da9fc;
  border-style: solid;
  border-width: thick; */

  /*  */

  /* background-color: #d4d8f0; */
  background-color: #02b9f4;
  height: 700px;

  margin-top: 31px;
  padding: 10px;
  box-shadow: 5px 10px 8px #b8c1ec;
  box-shadow: 5px 10px 8px #01c6f7;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.5px;
  margin-left: 70px;
  width: 150px;
  /* border-color: #b8c1ec; */
  border-color: #01c6f7;
}

.container {
  /* display: flex;
  justify-content: space-evenly; */
  font-family: monospace;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  /* text-shadow: white; */
  color: #2490b8;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 50px;
  /* padding: 10px;
  box-shadow: 5px 10px 8px #b8c1ec; */
}

#weather {
  /* background-image: url("../../../images/sun.svg"); */
  /* background-color: azure; */
  background-repeat: no-repeat;
  height: 100px;
}

.link:active {
}
