* {
    margin: 0;
    padding: 0;
}


.navBar {
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,65,14,0.9654236694677871) 0%, rgba(252,255,37,1) 34%, rgba(252,255,37,1) 34%, rgba(28,209,203,1) 77%, rgba(0,212,255,0.7525385154061625) 100%); */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(162,162,158,1) 23%, rgba(170,170,167,1) 54%, rgba(215,232,231,1) 79%, rgba(223,229,231,1) 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: black;
    /* font: 800px; */
    /* text-align:right; */
    
    
}

.navUl {
    list-style-type: none;
    /* border-right: 2px solid white; */
    
}

.navLi {
    float: left;
    /* border-right: 2px solid orangered; */
    border: 1px solid whitesmoke;
    justify-content: space-evenly;
    color: black;
    font-size: 28px;
    width: 450px;
    /* display: inline; */
}

