* {
    padding: 0;
    margin: 0;
}

.normal .mainDivYo {
    background-image: url('https://storage.ning.com/topology/rest/1.0/file/get/70945900?profile=RESIZE_1024x1024');
    height: 100vh;
    /* border-image-repeat: stretch; */

}

.harryPotter .mainDivYo {
    background-image: url('https://image.winudf.com/v2/image/Y29tLnplbml0aC5IYXJyeXBvdHRlcl9zY3JlZW5fMV8xNTIzMzIzMDQxXzAwNA/screen-1.jpg?fakeurl=1&type=.jpg');
    /* background-repeat: no-repeat; */
    background-size: contain;
    height: 100vh;
    

}

.normal .yurrrDiv {
    padding-top: 180px;
    color: lightblue;
    padding-left: 405px;
    font-size: smaller;
}

.harryPotter .yurrrDiv {
    padding-top: 140px;
    color: lightblue;
    padding-left: 465px;
    font-family: cursive; 
    font-size: 20px; 
    font-style: normal
}


.normal .enterDiv {
    padding-left: 70px;
}